<p>images from http://placekitten.com/</p>

<h4>selected userInd: {{selectdUsrInd}}</h4>
<ul>
  <li
    [class.selected]="0 === this.selectdUsrInd"
    (click)="selectUsrInd(0)">user 1</li>
  <li
    [class.selected]="1 === this.selectdUsrInd"
    (click)="selectUsrInd(1)">user 2</li>
  <li
    [class.selected]="2 === this.selectdUsrInd"
    (click)="selectUsrInd(2)">user 3</li>
  <li
    [class.selected]="3 === this.selectdUsrInd"
    (click)="selectUsrInd(3)">user 4</li>
</ul>


<div>not selected</div>
<div class="selected">selected</div>

<div [class.selected]="isSelected"
  (click)="toggleSelection( 'toggle', $event )">{{isSelected}}</div>


<div class="colored">using colored css class</div>
<div class="bind-me">green font via css class</div>
<div class="saban"
  [class]="classList">binding css classes</div>


<div>{{name}}</div>
<div>{{getName()}}</div>
<div>{{getName('Mr. ')}}</div>
<div>{{getName('Hello ')}}</div>
<div>{{getName( prefixValue )}}</div>
<!--
<div>never do that !!!! {{ 1 + 2 }}</div>
-->
<div style="color: red" [innerText]="'hello '+name"></div>
<img src="assets/img/{{catFile}}" alt="my cat" width="10%">
<img [src]="catFileWithPath" alt="my cat" width="10%">
<img [attr.src]="catFileWithPath" alt="my cat" width="10%">
<div [style.color]="fontColor"  [innerHTML]="html"></div>
<div class="colored" [style.width.px]="width" >green</div>
<button (click)="chgImg()">change image</button>
