<h4 *ngIf="selectedUser; else elseTemp">{{selectedUser | json }}</h4>

<ng-template #elseTemp>
  <h4>click to select a user</h4>
</ng-template>
<!--<h4 *ngIf="!selectedUser">click to select a user</h4>-->

<tax-user-list-item
  *ngFor="let user of $user.userList"
  [user]="user"
  (selectUsr)="selectUsr($event)"
  [isSelected]="selectedUser === user"
>
</tax-user-list-item>

<input type="text" placeholder="firstname" #firstname
                  [value]="selectedUser?.firstname">
<input type="text" placeholder="lastname" #lastname
                  [value]="selectedUser?.lastname">
<ng-container *ngIf="selectedUser; else addTemp">
  <button (click)="update( firstname.value, lastname.value)">update</button>
  <button (confirmed)="delete()"
          taxDangerBtn="do you wand to del {{selectedUser.firstname}}"
          taxDangerBtnCounter="123"
  >[-] delete</button>
</ng-container>
<ng-template #addTemp>
  <button (click)="add( firstname.value, lastname.value)">[+] add new User</button>
</ng-template>
