<form [formGroup]="selectedForm" (ngSubmit)="send()">
  <ng-container
    *ngFor="let inputVo of selectedFormVo.inputs">
    <textarea
      *ngIf="inputVo.type === 'textarea'; else inputTmp"
      [formControlName]="inputVo.key"
      [placeholder]="inputVo.label"
    ></textarea>
    <ng-template #inputTmp>
      <input
        type="{{inputVo.type}}"
        [formControlName]="inputVo.key"
        [placeholder]="inputVo.label"
      >
    </ng-template>
    <ng-container *ngIf="inputVo.validators?.length > 0">
      <tax-show-error
        [controlerName]="inputVo.key"
        [group]="selectedForm">
      </tax-show-error>
    </ng-container>
  </ng-container>
<!--  <input type="text" formControlName="name">
  <span formGroupName="credentials">
    <input type="email" formControlName="email">
    &lt;!&ndash;<div *ngIf="email.dirty">
      <span *ngIf="email?.errors?.required">please enter a mail</span>
      <span *ngIf="email?.errors?.email">please enter a valid mail</span>
    </div>&ndash;&gt;
    <input type="password" formControlName="password">
  </span>-->
  <button type="submit" [disabled]="selectedForm.invalid">send</button>
  <button type="reset" [disabled]="selectedForm.pristine">reset</button>
</form>

<button (click)="toggForm()">toggle Form</button>
