  <h1>{{name}}</h1>
  <button (click)="chgName()">click</button>
  <section>
    <article>
      <header>
        <h1>hello artivle 1</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A dolorum eveniet minus recusandae repellendus, tempore tenetur veniam vero! Accusantium aliquid consequatur earum error nam possimus praesentium provident quasi soluta ullam.</p>
      </header>
      <a href="">linkg</a>
    </article>
    <article>
      <header>
        <h1>hello artivle 1</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A dolorum eveniet minus recusandae repellendus, tempore tenetur veniam vero! Accusantium aliquid consequatur earum error nam possimus praesentium provident quasi soluta ullam.</p>
      </header>
      <a href="">linkg</a>
    </article>
  </section>
